.create-note-in-folder.settingsTab .setting-item-info{
    display: none;
}

.create-note-in-folder.settingsTab .search-input-container {
    width: 100%;
}

input.is-error.edit.create-note-in-folder,
.is-error.edit.create-note-in-folder input {
    border: 1px solid var(--text-error);
}


.create-note-in-folder.edit.is-facultative .setting-item-description {
    font-style: italic;
}

.create-note-in-folder.edit.is-facultative input[type="text"],
.create-note-in-folder.edit.is-facultative .setting-item-name {
    font-style: italic;
    opacity: 0.7;
}

.create-note-in-folder.is-warning {
    border-left: 3px solid var(--color-orange);
    padding-left: 5px;
    color: var(--color-orange);

}

.create-note-in-folder code {
    font-family: var(--font-monospace);
    color: var(--code-normal);
    background-color: var(--code-background);
    padding: 0.1em 0.25em;
    font-size: var(--code-size);
    border-radius: var(--code-radius);
}

.create-note-in-folder.is-warning code{
    color: var(--color-orange);
    text-decoration: none;
}

p.create-note-in-folder.list,
.create-note-in-folder.is-warning p{
    margin: 0;
    padding: 0;
}

p.create-note-in-folder.is-warning p>*:not(.code) {
    text-decoration: underline;
}

.create-note-in-folder.is-warning p > code {
    text-decoration: none;
}

.create-note-in-folder.is-warning p.title {
    font-weight: bold;
}

.create-note-in-folder h3 {
    margin-top: 0;
}
